.wrap__home{
    font-size:.9rem; 
    }

    .wrap__about{
        height:255px;   
    }
    
    .extract__about{
        text-align: justify;
    }
    
    .extract__title{
        font-size:1.3rem;
    }

    .btn__leerMas{

        background-color: silver;
        box-shadow: 2px 3px 4px #fff, 3px 4px 5px #000;
    }

    .btn__leerMas:hover{
        color:#fff;
        box-shadow: 2px 3px 4px #000;
    }

 




    .wrap__projects{
        height:200px;
        background:red;
        width: 100%;
    }

    .tecnology:nth-child(odd){
        background-color: rgb(221, 219, 219);
    }

    .icon{
        font-size: 2rem;
        color:#6b7ff0;
    }

    


    /* ================================================ */

    