.wrap__home {
    font-size: .9rem;
}

.extract__about {
    text-align: justify;
}

.extract__title {
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    height: 40px;
}

.btn__leerMas {
    width:35px;
    height:35px;
    border-radius:100%;
    color: #6b7ff0;
    background-color: rgb(192, 192, 192);
    box-shadow: 2px 3px 4px #6b7ff0, 3px 4px 5px #000;
    font-size:1.5rem;
}

.btn__leerMas:hover {
    color: #000;
    box-shadow: 2px 3px 4px #000;
}

.wrap__projects {
    height: 200px;
    background: red;
    width: 100%;
}