.wrap__header{
    height: auto;
    font-family: 'Kalam', cursive;
}



.letterhead{
    border-bottom:1px solid #ccc;
    background-color: rgb(107, 127, 240);
}

.circle__foto img{
    height:100px;
}

.pName{
    font-weight: bold;
    font-size: 1.2rem;
    color:#000;
}

.pTitle{
    color:rgb(104, 100, 100);
    font-size:.9rem;
    }

.pTitle span{
font-size:1.3rem;
}



/* ==================================SM==================================== */

@media (min-width:576px){

    .circle__foto img{
        height:120px;
    }
    
    .pName{
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .pTitle{
        color:rgb(104, 100, 100);
        font-size:1.2rem;
        }
    
    .pTitle span{
    font-size:1.5rem;
    }

}


/* =================================MD===================================== */

@media (min-width:768px){

    .circle__foto img{
        height:150px;
    }
    
    .pName{
        font-weight: bold;
        font-size: 1.7rem;
    }
    
    .pTitle{
        color:rgb(104, 100, 100);
        font-size:1.5rem;
        }
    
    .pTitle span{
    font-size:1.7rem;
    }

}


/* =================================LG===================================== */

@media (min-width:992px){

    .circle__foto img{
        height:150px;
    }
    
    .pName{
        font-weight: bold;
        font-size: 2rem;
    }
    
    .pTitle{
        color:rgb(104, 100, 100);
        font-size:1.7rem;
        }
    
    .pTitle span{
    font-size:2rem;
    }

}