.wrap__header{
    height: 70px;
}

.options{
    height:18px;
    width:65px;
    background-color: #ccc;
    border-radius:14px;
}

.option__theme{
    width: 15px;
    height:15px;
    background-color: #000;
    border-radius:50px;
    margin: 0 3px;
}

.option_lenguage{
    margin: 0 3px;
    line-height: 5px;
    font-size:.7rem;
}

.link__slice{
    height:40%;
}

.link{
    font-size:.7rem;
}

.hrs{
    height: 1.5px;
    background-color: rgb(255, 5, 5);
}

.hri{
    height: 1.5px;
    background-color: rgb(9, 5, 255);
}