h1{
    font-family: 'Kalam', cursive;
}

h5{
    font-size:1.3rem;
    text-align:center;
    color:rgb(74, 74, 231);
    font-family: 'Kalam', cursive;
}

.wrap__socialx{
    width:100%;
    font-family: 'Roboto Mono', monospace;

}

.wrap__socialx span{
    font: size 2rem;
    font-size:1.5rem;    
}

.twitterx{
    color: #1da1f2;
    font-size:1.5rem;
}

.linkedinx{
    color:#0e76a8;
    font-size:1.5rem;
}

.whatsappx{
  color:#25d366;
  font-size:1.5rem;
}

.mailx{
    color: #ea4335;
    font-size:1.5rem;
}

.downloadx{
    color: rgb(175, 135, 135);
    font-size:1.5rem;
}

.callx{
    color:#2ab85e;
    font-size:1.5rem;
}

.githubx{
    color:#000;
    font-size:1.5rem;
}

.portfoliox{
    color:rgb(107, 127, 240);
    font-size:1.5rem;
}

.wrap__socialx a{
    font-size:1rem;
    text-decoration:none;
    font-style: italic;
}

.wrap__socialx a:hover{

    text-decoration:underline;
    color:rgb(255, 0, 0);
    letter-spacing: 3px;
}